<div ng-non-bindable class="html-part">
    {{#if edit}}
        <div class="ps-edit-box" ng-controller="HtmlController" ng-init="region='{{region}}'; pageId='{{pageId}}'">
            <textarea ng-model="html">{{{data}}}</textarea>
            <button ng-click="save()">Save <span ng-show="changed == true">*</span></button>
        </div>
        <script>
            head.load([
                '/_static/bower_components/angular/angular.min.js',
                '/_static/parts/html/html.js',
                '/_static/parts/html/html-editor.css'], function() {
                angular.element(document).ready(function() {
                    angular.bootstrap(document.getElementById('{{region}}'), ['htmlApp']);
                });
            });
        </script>
    {{else}}
        {{{data}}}
    {{/if}}
</div>