<!doctype html>
<html ng-app="adminApp">
<head>
    <title>Dashboard</title>
    <link href="{{appRoot}}/static/support/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{appRoot}}/static/styles/slickmap/slickmap.css" rel="stylesheet">
    <link href="{{appRoot}}/bower_components/angular-carousel/dist/angular-carousel.css" rel="stylesheet">
    <link href="{{appRoot}}/static/styles/styles.css" rel="stylesheet">

    <script>
        window._appRoot = '{{appRoot}}';
        window._powerMode = {{powerMode}};
    </script>

    <script src="{{appRoot}}/bower_components/fabric/dist/fabric.min.js"></script>
    <script src="{{appRoot}}/bower_components/async/lib/async.js"></script>
    <script src="{{appRoot}}/bower_components/angular/angular.min.js"></script>
    <script src="{{appRoot}}/bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="{{appRoot}}/bower_components/angular-route/angular-route.min.js"></script>
    <script src="{{appRoot}}/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="{{appRoot}}/bower_components/angular-carousel/dist/angular-carousel.min.js"></script>

    <script src="{{appRoot}}/static/js/app.js"></script>
    <script src="{{appRoot}}/static/js/page-service.js"></script>
    <script src="{{appRoot}}/static/js/template-service.js"></script>
    <script src="{{appRoot}}/static/js/part-service.js"></script>
    <script src="{{appRoot}}/static/js/sitemap-controller.js"></script>
    <script src="{{appRoot}}/static/js/page-controller.js"></script>
    <script src="{{appRoot}}/static/js/template-list-controller.js"></script>
    <script src="{{appRoot}}/static/js/template-controller.js"></script>
    <script src="{{appRoot}}/static/js/part-list-controller.js"></script>
    <script src="{{appRoot}}/static/js/part-controller.js"></script>
    <script src="{{appRoot}}/static/js/notifications-controller.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row full-height">
        <header class="col-sm-2">
            <h1>Dashboard</h1>
            <ul class="nav">
                <li><a href="#/">Sitemap</a></li>
                <li><a href="#/macros">Macros</a></li>
                <li><a href="#/templates">Templates</a></li>
                <li><a href="#/parts">Page Parts</a></li>
            </ul>
            <ul class="nav" style="margin-top: 3em">
                <li><a href="/_logout">Logout</a></li>
            </ul>
        </header>
        <div class="col-sm-10">
           <div ng-include="'{{appRoot}}/static/partials/notifications.html'"></div>
           <div ng-view></div>
        </div>
    </div>
</div>

</body>
</html>
